.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  margin-top: 15px;
}

nav a {
  margin-right: 1%;
}

button {
  border: none;
  border-radius: 3px;
  background: dodgerblue;
  padding: .5%;
  width: 4%;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background: lightblue;
}
.login-wrapper {
  margin-top: 5%;
}

.register-wrapper {
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 20%;
  border-radius: 3px;
  border: 1px solid grey;
  padding: .5%;
  margin-bottom: 20px;
}

form button {
  margin-bottom: 15px;
  width: 5%;
  font-size: 1.2rem;
}
